-- SQL para corrigir permissões de produtos finais
-- Execute este SQL no SQL Editor do Supabase Dashboard

-- 1. Verificar políticas atuais
SELECT schemaname, tablename, policyname, permissive, roles, cmd, qual
FROM pg_policies
WHERE tablename = 'produtos_finais';

-- 2. Remover política restritiva atual (se existir)
DROP POLICY IF EXISTS "Acesso total para admin" ON produtos_finais;

-- 3. Remover política nova se já existir (para recriá-la)
DROP POLICY IF EXISTS "Admin e fábrica têm acesso total" ON produtos_finais;

-- 4. Criar nova política que permite admin E fábrica
CREATE POLICY "Admin e fábrica têm acesso total"
  ON produtos_finais
  FOR ALL
  TO authenticated
  USING (auth.jwt() ->> 'role' IN ('admin', 'fabrica'));

-- 5. Verificar se as políticas estão corretas após a mudança
SELECT schemaname, tablename, policyname, permissive, roles, cmd, qual
FROM pg_policies
WHERE tablename = 'produtos_finais';
