-- SQL SIMPLIFICADO - Apenas verificar e criar a política correta
-- Execute APENAS este SQL no Supabase Dashboard

-- Verificar políticas atuais
SELECT schemaname, tablename, policyname, permissive, roles, cmd, qual
FROM pg_policies
WHERE tablename = 'produtos_finais';

-- Criar a política correta (vai falhar se já existir)
CREATE POLICY "Admin e fábrica têm acesso total"
  ON produtos_finais
  FOR ALL
  TO authenticated
  USING (auth.jwt() ->> 'role' IN ('admin', 'fabrica'));

-- Verificar novamente
SELECT schemaname, tablename, policyname, permissive, roles, cmd, qual
FROM pg_policies
WHERE tablename = 'produtos_finais';
